[mysqld]

datadir=/data/mysql
bind-address=0.0.0.0
log-error=/data/mysqld.log

server-id=2
log_bin=/data/binlog/master

plugin-load="libaudit_plugin.so"
audit_json_log_file="/tmp/mysql-audit-json.log"
audit_record_cmds="select,update,insert"
audit_json_file="ON"

[client]
host=127.0.0.1
